<div class="page-container flex flex-content-center">
  <app-card>
    <div class="header flex-column" header>
      <h2 class="title">{{projectName}}</h2>
      <h3 class="card-subtitle">{{errorMsg}}</h3>
    </div>
    <div class="content" content>
      <form #loginForm class="loginForm flex-column" [formGroup]="registrationData">
        <div class="form-field flex-column">
          <label for="Username">Username</label>
          <input id="Username" formControlName="UserName" type="text" />
        </div>
        <div class="form-field flex-column">
          <label for="FirstName">First Name</label>
          <input id="FirstName" formControlName="FirstName" type="text" />
          <div *ngIf="submitted && f.first_name.errors">
            <small class="error">First Name is required</small>
          </div>
        </div>
        <div class="form-field flex-column">
          <label for="LastName">Last Name</label>
          <input id="LastName" formControlName="LastName" type="text" />
          <div *ngIf="submitted && f.last_name.errors">
            <small class="error" *ngIf="f.last_name.errors?.required">Last name is required</small>
          </div>
        </div>
        <div class="form-field flex-column">
          <label for="Email">Email</label>
          <input id="Email" formControlName="Email" type="email" />
          <div *ngIf="submitted && f.email.errors">
            <small class="error" *ngIf="f.email.errors?.required">Email is required</small>
            <small class="error" *ngIf="f.email.errors?.email">Invalid email format</small>
          </div>
        </div>
        <div class="form-field flex-column">
          <label for="Password">Password</label>
          <input id="Password" formControlName="Password" type="password" />
          <div *ngIf="submitted && f.password.errors">
            <small class="error" *ngIf="f.password.errors?.required">Password is required</small>
            <small class="error" *ngIf="f.password.errors?.minlength">Password must be at least 6 characters</small>
          </div>
        </div>
        <div class="form-field flex-column">
          <label for="ConfirmPassword">Confirm Password</label>
          <input id="ConfirmPassword" formControlName="ConfirmPassword" type="password" />
          <div *ngIf="submitted && f.verify_password.errors">
            <small class="error">Confirming Password is required</small>
          </div>
        </div>
      </form>
    </div>
    <div class="actions flex-row flex-content-end" actions>
      <button (click)="loginForm.reset()">Reset</button>
      <button (click)="register()">Register</button>
    </div>
  </app-card>
  <!--<mat-card class="loginCard">
    <mat-card-title>{{projectName}} Registration</mat-card-title>
    <mat-card-subtitle>{{errorMsg}}</mat-card-subtitle>
    <mat-card-content>
      <form #loginForm class="loginForm flex-column" [formGroup]="registrationData">
        <mat-form-field appearance="standard">
          <mat-label>First Name</mat-label>
          <input matInput placeholder="First Name" type="email" [formControl]="first_name" name="first_name">
          <mat-error *ngIf="email.invalid">{{getFieldErrorMessage('first_name')}}</mat-error>
        </mat-form-field>
        <mat-form-field appearance="standard">
          <mat-label>Last Name</mat-label>
          <input matInput placeholder="Last Name" type="email" [formControl]="last_name" name="last_name">
          <mat-error *ngIf="email.invalid">{{getFieldErrorMessage('last_name')}}</mat-error>
        </mat-form-field>
        <mat-form-field appearance="standard">
          <mat-label>Email Address</mat-label>
          <input matInput placeholder="youremail@knowhere.com" type="email" [formControl]="email" name="email">
          <mat-error *ngIf="email.invalid">{{getFieldErrorMessage('email')}}</mat-error>
        </mat-form-field>
        <mat-form-field appearance="standard">
          <mat-label>Password</mat-label>
          <input matInput placeholder="Password" type="password" [formControl]="password" name="password">
          <mat-error *ngIf="password.invalid">{{getFieldErrorMessage('password')}}</mat-error>
        </mat-form-field>
        <mat-form-field appearance="standard">
          <mat-label>Verify Password</mat-label>
          <input matInput placeholder="Password Again" type="password" [formControl]="verify_password" name="verify_password">
          <mat-error *ngIf="password.invalid">{{getFieldErrorMessage('verify_password')}}</mat-error>
        </mat-form-field>
      </form>
    </mat-card-content>
    <mat-card-actions class="flex-row flex-content-end">
      <button mat-raised-button (click)="loginForm.reset()">Reset</button>
      <button mat-raised-button color="primary" (click)="register()">Register</button>
    </mat-card-actions>
  </mat-card>-->
</div>