<div style="background-color: transparent;color: white;text-align: center; padding: 20px 20px;" class="avatar-container"
	[ngStyle]="{'background-color': backgroundColor, 'color': contrastingColor}" (click)="avatarClick($event)">
	<img *ngIf="user && user.avatar" [src]="user?.avatar" class="avatar" [alt]="initials || ''">
	<span *ngIf="user && initials && !user.avatar" class="initials">
		{{initials}}
	</span>
	<span *ngIf="!isLoggedIn">Login</span>
	<span *ngIf="isLoggedIn" (click)="logout3()">Logout</span>
</div>